body{
    margin: 0px;
    padding: 0px;
    background-color:beige;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 0px;
    margin-left: 37%;
    font-size: 50px;
    float: both;
}

h2{
    font-size: 40px;
    margin-left: 39%;
}

#navigasjon a{
    text-decoration: red underline;
    box-shadow: 0px 0px 5px black;
}

#navigasjon{
    border-bottom: 5px solid;
    background-color: red;
    width: 100%;
    top: 0px;
    position: sticky;
    font-family: monospace;
    text-decoration: red;
}

#bilderLink{
    font-size: 30px;
    position: absolute;
    right: 5%;
}
#quizLink{
    font-size: 30px;
}

ul li::marker{
    color: red;
}

#omMarve{
    margin-left: 15%;
    margin-right: 15%;
}

iframe{
    margin-left: 30%;
}

fieldset{
    margin-left:20%;
    width: 60%;
    padding: 70px;
    border: 5px solid;
}

footer a{
    margin-left: 47%;
}
footer p{
    margin-left: 43%;
}
footer{
    color:coral;
}

caption, tr, th, td{
    border: 1px solid;
    font-size: 20px;
    padding: 10px;
}
table{
    float: left;
}

legend{
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}

#adresse{
    float: left;
}
address{
    position: static;
    margin-left: 90px;
    margin-top: 21px;
}
video{
    margin-left: 10%;
}

#quizDel{
    margin-left: 10%;
    padding: 10px;
    width: 80%;
    border: 15px solid;
    border-color: gold;
    border-radius: 10px;
}

#quizBilde{
    float: right;
    text-shadow: 0px 0px 10px red;
}
#quizBilde img{
    box-shadow: 0px 0px 10px red;
}

.link:visited, .link:link {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
}
.link:hover {
    font-size: 1.6rem;
    color: #000;
}

#marve {
    font-size: 40px;
}

@keyframes marveJakter {
    0% {margin-left: 100%;}
    100% {margin-left: -10%;};
}

#jakt {
    text-shadow: 7px 0px 7px black;
    animation: 6s linear 0s infinite running marveJakter
}

#jakt:hover, #jakt:active {
    animation: 6s linear 0s infinite paused marveJakter;
    text-shadow: none;
}